body {
  background-color: #e7d8ff !important;
}

nav {
  background-color: #e7d8ff !important;
}

.have-a-question-container {
  background-color: #e7d8ff !important;
}

.container-studiopaca {
  margin-bottom: 0;
  max-width: 450px;
}

.align-items-start {
  margin-top: 200px;
  margin-bottom: 200px;
}

.featured-second {
  height: 700px;
}

.featured-second-first {
  background-image: url(../assets/sweetville-2.png);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* margin: 10px 10px 20px 10px; */
}

.featured-second-second {
  background-image: url(../assets/sweetville-3.png);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* margin: 10px 10px 20px 10px;*/
}
